<div class="container">
  <h2>Listado de Expedientes</h2>

  <div class="col-12 d-flex justify-content-end">
    <button class="btn-crear" (click)="seleccionarExpediente(0)" data-bs-toggle="modal" data-bs-target="#expedient-form">Nuevo Expediente</button>
  </div>

  <div class="mb-3 col-xs-12 col-xl-4 d-flex">
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-filter"></i></span>
      <select class="form-select" [(ngModel)]="campoFiltro">
        <option value="nombre">Nombre Expediente</option>
        <option value="cliente.nombre">Nombre Cliente</option>
        <option value="cliente.apellido">Apellido Cliente</option>
        <option value="tipoExpediente.nombre">Tipo de Expediente</option>
      </select>
      <input type="text" class="form-control" id="searchInput" [(ngModel)]="buscarPalabra" placeholder="Buscar Expediente">
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Mas</th>
        <th>Nombre Expediente</th>
        <th>Nombre Cliente</th>
        <th>Apellido Cliente</th>
        <th>Tipo</th>
        <th>Agregar Doc.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expediente of expedientesPaginados">
        <td>
          <i class="fas fa-eye" (click)="verExpediente(expediente)" data-bs-toggle="modal" data-bs-target="#expediente-detail-modal"></i>
        </td>
        <td>{{ expediente.nombre }}</td>
        <td>{{ expediente.cliente.nombre }}</td>
        <td>{{ expediente.cliente.apellido }}</td>
        <td>{{ expediente.tipoExpediente?.nombre }}</td>
        <td class="d-flex justify-content-center"><button style="border:none;" (click)="openDocumentList(expediente.id)"><i class="far fa-folder-open"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="paginaActual === 1">
          <a class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</a>
        </li>
        <li class="page-item" *ngFor="let pagina of [].constructor(totalPaginas); let i = index" [class.active]="paginaActual === (i + 1)">
          <a class="page-link" (click)="cambiarPagina(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
          <a class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div id="expedient-form" class="modal fade custom-backdrop">
  <app-create-expedient></app-create-expedient>
</div>


<div id="expediente-detail-modal" class="modal fade custom-backdrop">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles del Expediente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Nombre:</strong> {{ expedienteSeleccionado?.nombre }}</p>
        <p><strong>Tipo de Expediente:</strong> {{ expedienteSeleccionado?.tipoExpediente?.nombre }}</p>
        <p *ngIf="expedienteSeleccionado?.caso"><strong>Datos del Caso</strong></p>
        <p *ngIf="expedienteSeleccionado?.caso"><strong>Tipo de Caso:</strong> {{ expedienteSeleccionado?.caso?.tipoCaso?.nombre }}</p>
        <p *ngIf="expedienteSeleccionado?.caso"><strong>Descripción:</strong> {{ expedienteSeleccionado?.caso?.descripcion }}</p>
        <p *ngIf="expedienteSeleccionado?.caso"><strong>Ciudad:</strong> {{ expedienteSeleccionado?.caso?.ubicacion?.ciudad }}</p>
        <p *ngIf="expedienteSeleccionado?.caso"><strong>Número de Expediente:</strong> {{ expedienteSeleccionado?.caso?.juzgado?.numeroExpediente }}</p>
        <p><strong>Datos del Cliente</strong></p>
        <p><strong>Nombre Cliente:</strong> {{ expedienteSeleccionado?.cliente?.nombre }}</p>
        <p><strong>Apellido Cliente:</strong> {{ expedienteSeleccionado?.cliente?.apellido }}</p>
        <p><strong>Email:</strong> {{ expedienteSeleccionado?.cliente?.correoElectronico }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal">Eliminar</button>
        <button (click)="editarExpediente(expedienteSeleccionado?.id ?? 0)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#expedient-form">Editar</button>
      </div>
    </div>
  </div>
</div>

<div id="confirm-delete-modal" class="modal fade custom-backdrop">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar el expediente?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button (click)="eliminarExpediente(expedienteSeleccionado?.id ?? 0)" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>
