<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{tituloForm}}</h5>
      <button type="button" id="bClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiarForm()"></button>
    </div>
    <div class="modal-body">
      <form class="row g-3 needs-validation" name="formularioCaso" novalidate>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Tipo de Caso</span>
          <select class="form-select" name="TipoCaso" id="validacionTipoCaso" [(ngModel)]="caso.tipoCasoId" required>
            <option value="" disabled selected>Selecciona el tipo</option>
            <option *ngFor="let tipoCaso of tiposCaso" [value]="tipoCaso.id">{{ tipoCaso.nombre }}</option>
          </select>
          <div class="invalid-feedback">
            Por favor seleccion un tipo de caso.
          </div>
        </div>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Nombre del Juzgado</span>
          <input type="text" class="form-control" name="nombre" id="validacionNombre" placeholder="Ingrese el nombre" minlength="6" maxlength="30" (keydown)="validarTexto($event, 1)" [(ngModel)]="caso.juzgado.nombre" required>
          <div class="invalid-feedback">
            {{ !caso.juzgado.nombre ? 'Por favor ingrese el nombre del juzgado.' : 'Ingrese un nombre válido de al menos 6 caracteres.' }}
          </div>
        </div>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Número de Expediente</span>
          <input type="text" class="form-control" name="NumeroExpediente" id="validacionNumeroExpediente" placeholder="116/20022/2-F" minlength="7" maxlength="14" (paste)="limitarNumeros($event)" (keydown)="validarTexto($event, 1); limitarAlfanumerico($event)" [(ngModel)]="caso.juzgado.numeroExpediente" required>
          <div class="invalid-feedback">
            {{ !caso.juzgado.numeroExpediente ? 'Por favor ingrese el número de expediente.' : 'Ingrese un número de expediente de 6-10 digitos.' }}
          </div>
        </div>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Dirección</span>
          <input type="text" class="form-control" name="Direccion" id="validacionDireccion" placeholder="Calle, #123" minlength="8" maxlength="30" (keydown)="validarTexto($event, 1)" [(ngModel)]="caso.ubicacion.direccion" required>
          <div class="invalid-feedback">
            {{ !caso.ubicacion.direccion ? 'Por favor ingrese su dirección.' : 'Ingrese una ubicación válida con al menos 8 caracteres.' }}
          </div>
        </div>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Estado</span>
          <select class="form-select" name="EstadoUbi" id="validacionEstado" [(ngModel)]="caso.ubicacion.estado" (change)="onStateChange(caso.ubicacion.estado)" required>
            <option value="" disabled selected>Seleccione un estado</option>
            <option *ngFor="let estado of estadosUbi" [value]="estado">{{ estado }}</option>
          </select>
          <div class="invalid-feedback">
            {{ !caso.ubicacion.estado ? 'Por favor seleccione su estado.' : 'Seleccione un estado válido.' }}
          </div>
        </div>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Ciudad</span>
          <select class="form-select" name="Ciudad" id="validacionCiudad" [(ngModel)]="caso.ubicacion.ciudad" required>
            <option value="" disabled selected>Seleccione una ciudad</option>
            <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
          </select>
          <div class="invalid-feedback">
            {{ !caso.ubicacion.ciudad ? 'Por favor seleccione su ciudad.' : 'Seleccione una ciudad válida.' }}
          </div>
        </div>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Código Postal</span>
          <input type="text" class="form-control" name="CodigoPostal" id="validacionCodigoPostal" placeholder="00000" minlength="5" maxlength="5" onpaste="return false;" (paste)="limitarNumeros($event)" (keydown)="limitarNumeros($event)" [(ngModel)]="caso.ubicacion.codigoPostal" required>
          <div class="invalid-feedback">
            {{ !caso.ubicacion.codigoPostal ? 'Por favor ingrese su código postal.' : 'El código postal debe tener 5 caracteres.' }}
          </div>
        </div>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Descripción</span>
          <input type="text" class="form-control" name="Descripcion" id="validacionDescripcion" placeholder="Ingrese descripcion del caso" minLength="5" maxlength="40" (keydown)="validarTexto($event, 1)" [(ngModel)]="caso.descripcion" required>
          <div class="invalid-feedback">
            {{ !caso.descripcion ? 'Por favor ingrese una descripción.' : 'Por favor ingrese una descripción válida con mas de 5 caracteres.' }}
          </div>
        </div>
        <div class="col-12 input-group">
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Fecha Inicio:</span>
            <input type="date" class="form-control" name="FechaInicio" id="validacionFechaInicio" placeholder="Fecha de inicio" [max]="FechaMaxima()" [min]="obtenerFecha()" onkeydown="return false" [(ngModel)]="caso.fechaInicio" required />
            <div class="invalid-feedback">
              Por favor seleccione una fecha.
            </div>
          </div>
        </div>
        <div class="col-12 input-group" *ngIf="caso.estadoId == '3'">
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Fecha Fin:</span>
            <input type="date" class="form-control" name="FechaTermino" id="validacionFechaTermino" placeholder="Fecha de termino" [min]="obtenerFecha()" onkeydown="return false" [(ngModel)]="caso.fechaTermino" required />
            <div class="invalid-feedback">
              Por favor seleccione una fecha.
            </div>
          </div>
        </div>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Estado</span>
          <select class="form-select" name="Estado" id="validacionEstado" [(ngModel)]="caso.estadoId" required>
            <option value="" disabled selected>Selecciona el estado</option>
            <option *ngFor="let estado of estados" [value]="estado.id">{{ estado.nombre }}</option>
          </select>
          <div class="invalid-feedback">
            Por favor seleccion un estado.
          </div>
        </div>
        <div class="col-12 input-group">
          <span class="input-group-text" id="inputGroupPrepend">Cliente</span>
          <select class="form-select" name="Cliente" id="validacionCliente" [(ngModel)]="caso.clienteId" required>
            <option value="" disabled selected>Selecciona un cliente</option>
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }} {{ cliente.apellido }}</option>
          </select>
          <div class="invalid-feedback">
            Por favor seleccion un cliente.
          </div>
        </div>
        <div *ngIf="errorMensaje" class="alert alert-danger" role="alert">
          {{ errorMensaje }}
        </div>
        <div class="col-12 d-flex justify-content-end">
          <button *ngIf="casoId === 0" class="btn btn-primary" type="submit" [disabled]="creandoCaso" (click)="iniciarValidadores()">
            <span *ngIf="!creandoCaso">Crear caso</span>
            <span *ngIf="creandoCaso">Creando caso...</span>
          </button>

          <button *ngIf="casoId !== 0" class="btn btn-primary" type="submit" [disabled]="creandoCaso" (click)="iniciarValidadores()">
            <span *ngIf="!creandoCaso">Actualizar</span>
            <span *ngIf="creandoCaso">Actualizando...</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
